/* Your SCSS here. */
body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



nav {
    background-color: #444;
    position: sticky;
    top: 0;
    z-index: 100;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav a {
    color: white;
    padding: 20px;
}

nav a.active {
    background-color: black;
    border-radius: 4px;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1 {
    background-image: url('../assets/1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2 {
    background-color: black;
}

.s3 {
    background-color: white;
}

.s4 {
    background-color: black;
}

.s5 {
    background-color: white;
    text-align: center;
}

.s6 {
    background-color: white;
}

.scontent {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.slide {
    display: none;
    text-align: center;
    animation-name: fadeInOut;
    animation-duration: 1s;
}

.nav-arrows {
    cursor: pointer;
    position: absolute;
    top: 50%;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mcontent {
    background-color: #FFFFFF;
    margin: 10%;
}